<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GOL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <GOL.Properties.Settings>
            <setting name="BackgroundColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="FiniteBorder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DrawGrid" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DrawCellCount" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DrawHUD" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SeedValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GenerationValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ActiveCellCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TimerMilliseconds" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="CellTotalValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UniXAxis" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="UniYAxis" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="GridColor" serializeAs="String">
                <value>Black</value>
            </setting>
        </GOL.Properties.Settings>
    </userSettings>
</configuration>